{% extends 'core/base.html' %}
{% block title %}About{% endblock  %}
{% block background %}{% load static %}{% static '/core/img/about-bg.jpg'%}{% endblock %}

{% block header %}
<h1>Acerca de</h1>
<span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
    <!-- Contenido Principal -->
    <div class="row">   
      <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/avatar.png' %}" alt="">
      </div>
      <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Jorge Osses</h2>   
        <p>Vivo en Ciudad Autónoma de Buenos Aires - Argentina. Busco desarrollarme profesionalmente dentro del área de IT, poder poner en práctica los conocimientos adquiridos y seguir avanzando en mi formación profesional. Me perfecciono en el campo de fullstack con Python en CODO A CODO. Estudié Desarrollo Front End React en CODERHOUSE durante todo el 2021. Soy autodidacta, tengo conocimientos en Python, Linux, Git, BootStrap, Metodologias Scrum. Actualmente trabajo como comercial-técnico en el campo de la seguridad electrónica. He trabajado en grupos de trabajo grandes y pequeños. Nunca me faltan las ganas de aprender y progresar.</p>
        <p>Soy bajista, gracias a la música recorrí muchisimas ciudades de Argentina.</p>
      </div>
    </div>  
      {% endblock content %}
