{% extends 'core/base.html' %}

{% block content %}
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Jorge Osses</h1>
          <h2>Este es el Home</h2>
          <span class="subheading">Fullstack Developer</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock content %}

      